.photoModal {
background-color:#FFF; width:94%; height:auto; left:3%; top:3%; position:fixed; z-index:100;

display:none; padding:15px; overflow:auto; overflow-x: hidden;
-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
}

.photoModalClose { position:absolute; right:6px; top:6px; width:25px; height:25px; overflow:hidden; background:url(/graphic/icon/delete-3-2.png) no-repeat center center; cursor:pointer; opacity:0.5; }
.photoModalClose:hover { background:url(/graphic/icon/delete-3-1.png) no-repeat center center; opacity:1; }

.photoModalBg { width:100%; height:100%; background-color:#000; opacity:0.6; position:fixed; z-index:98; display:none; cursor:pointer; }
.photoModalBgImg { width:100%; height:100%; position:fixed; z-index:97; display:none; }
	
	
/* ความกว้าง ไม่ต่ำกว่า */
@media screen and (min-width: 400px)
{
	.photoModal { width:80%; left:10%; top:10%; padding:20px; }
}

/* ความกว้าง ไม่ต่ำกว่า */
@media screen and (min-width: 700px)
{
	.photoModal { width:360px; left:50%; top:50%; margin-left:-180px; margin-top:-250px; }
	.photoModalClose { right:8px; top:8px; }
}

/* ความกว้าง ไม่ต่ำกว่า */
@media screen and (min-width: 1000px)
{

}

/* ความกว้าง ไม่ต่ำกว่า */
@media screen and (min-width: 1600px)
{
	.photoModal { width:420px; left:50%; top:45%; margin-left:-210px; margin-top:-260px; }
	.photoModalClose { right:10px; top:10px; }
}